@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

:root{
    --primary-color:#DC2626;
    --text:white;
    --secondary-color:#FECACA;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    font-size:1.2rem;
}

.nav-bar{
    display: flex;
    justify-content: flex-end;
    background-color:var(--primary-color) ;
    color:var(--text);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    
}

.nav-item{
    padding:0.5rem 1rem;
    cursor: pointer;
}

.container{
    max-width: 600px;
    margin:auto;
}

.container-center{
    text-align: center;
}

.heading{
    color: var(--primary-color);
    font-size: 3rem;
}

.textinput{
    font-size: 1.5rem;
    text-align: center;
    margin:1rem;

}

.inputcontainer{
    text-align: center;
    
}

.but{
    font-size:1.5rem;
    padding:0.5rem;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    margin:1rem 0rem;

}


.outputcontainer{
    border:2px solid black;
    height:2rem;
    width:300px;
    text-align: center;
    font-size: 1.5rem;
    padding:0.5rem 0rem;
}